body {
  margin: 0;
  font-family: sans-serif;
} /* .header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 24px;
  padding: 0 20px;
  margin-top: 0 auto;
} */
