.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Center elements in the bottom half of the page */
  margin-top: 5vh;
  padding: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.loginInput {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--medium-gray);
  border-radius: 5px;
  width: 100%;
}
